.nav{
  background-color: black;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.example-spacer {
  flex: 1 1 auto;
 }

 .mouse-pointer{
  cursor: pointer;
 }

 .mouse-pointer:hover{
   background-color: whitesmoke;
   color: darkcyan;
   padding: 7px;
   border-radius: 1rem;
 }


 a{
   text-decoration: none;
   color: white;
 }