.container{
   margin: 20px auto;
   width: 90%;
}
.container__flex{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}

.form {
   min-width: 150px;
   width: 30%;
 }
 
 .field_form{
    display: flex;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    width: 100%;
 }

 mat-radio-button{
    margin-left: 5px;
 }
 button{
    background-color: black;
    font: 300;
    font-size: medium;
    display: block;
    color: white;
    width: 30%;
    margin: 0 auto;
    padding: .5rem;

 }
 

